@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/** Estilos generales */
section {
  display: flex; /* d-flex */
  flex-direction: column; /* flex-column */
  align-items: center; /* align-items-center */
  justify-content: center; /* justify-content-center */
}

h1 {
  font-family: 'Rubik Dirt', cursive;
  font-size: 2.5rem;
}

.seccion-oscura {
  color: #fff;
  background-color: #1b1b32;
}

.seccion-clara {
  color: #000;
  background-color: #fff;
}

.seccion-titulo {
  font-family: 'Rubik Dirt', cursive;
  font-size: 2rem;
  padding: 15px 0;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.texto-negro {
  color: #000;
}

.texto-blanco {
  color: #fff;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold;
}


/** Barra de navegación */
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}


/** Sección Hero */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 100px; /*rounded-circle*/
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}


/** Sección sobre mi */
.sobre-mi  {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}


/** Seccion experiencia */
.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  border: 1px solid #000;
  /* height: 350px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: #fff;
  background-color: #1b1b32;

}

.experiencia i {
  font-size: 2.5rem;
  color: #ffff00;
  background-color: #1b1b32;
  padding: 8px 19px;
  border-radius: 50%; /*rounded-circle*/
}

.experiencia i {
  border: 1px solid #ffff00;
}

.experiencia .experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia .badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia .badge {
  margin: 5px;
}


/** Seccion proyectos */
.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}

.proyecto:hover .overlay {
 opacity: 1;
}

.proyecto:hover .overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto .overlay .iconos-contenedor {
  display: flex;
}

.proyecto .overlay .iconos-contenedor i {
  color: #000;
  font-size: 60px;
  margin: 10px;
}


/** Serccion testimonios */
.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.testimonios .carousel-item {
  height: 500px;
}

.testimonios .carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonios .carousel-item .testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonios .carousel-item .testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonios .carousel-item .testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonios .carousel-item .testimonio-info p {
  margin-bottom: 0;
}

.testimonios .carousel-item .testimonio-info .cliente {
  font-size: 1.2rem;
}

.testimonios .carousel-item .testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}


/** Serccion contacto */
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  background-color: rgb(13, 110, 253);
  margin-top: -5rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px 1px;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: #fff;
  font-size: 1.2rem;
}

.contacto button {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  color: #000;
  background-color: #fff;
}

.contacto button i {
  font-size: 1.3rem;
}


/** Serccion pie de página */
footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
}

.iconos-redes-sociales i {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 2px;
  margin: 10px;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #fff;
  border: 2px solid #0d6efd;
}

.iconos-redes-sociales a:hover i {
  color: #000;
}

.derechos-de-autor {
  color: #aeaeae;
  font-size: 15px;
  padding: 20px;
}









/* Adaptable responsivo */
@media screen and (max-width: 767px) {
  .nav-brand {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }

}

@media screen and (max-width: 400px) {
  .proyecto:hover .overlay p {
    font-size: 18px;
  }

    .proyecto .overlay .iconos-contenedor i {
      font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
  .testimonios .carousel-item .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonios .carousel-item .testimonio-texto {
    font-size: 16px;
  }

}